Source: ros-indigo-robocup-model-resources
Section: misc
Priority: extra
Maintainer: Carlos Agüero <caguero@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-robocup-model-resources
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgazebo4-dev
Description: Model and world package for the Robocup 3D simulation league
