Source: ros-hydro-robocup-3d
Section: misc
Priority: extra
Maintainer: Carlos Agüero <caguero@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-robocup-3d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-robocup-agent-plugin, ros-hydro-robocup-gamecontroller-plugin, ros-hydro-robocup-model-resources, ros-hydro-robocup-msgs, ros-hydro-robocup-utils
Description: Robocup 3D simulation metapackage
